* {
  box-sizing: border-box;
}

html {
  font: 18px/1.5 sans-serif;
  height: calc(100vh - 1.5rem);
}

body {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f2f3;
  height: 100%;
  flex-direction: column;
}
