html {
  font: 18px/1.5 sans-serif;
}

body {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f1f2f3;
  flex-direction: column;
}
